.card-img-top {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-raffle {
  width: 18rem;
  display: flex;
  height: 30rem;
  max-height: 40rem;
  justify-content: space-between;
  position: relative;
}

.search-btn {
  font-size: 21px;
}

#border {
  width: auto;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
  padding: 15px;
  margin: 10px;
  font-size: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#footer {
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}