.titulo {
    font-size: 80px;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    overflow: hidden;
    color: white;
}

.space {
    margin-right: 35px !important;
}

footer {    
    background-color: rgb(253, 160, 72);
    overflow: hidden;
    color: white;
}

.nav-title {
    color: white;
}

.raffle-tittle {
    font-size: 55px;
}

.product-img {
  max-width: 100%;
}

.raffle-value {
    font-size: 39px;
}

.btn-part {
    font-size: 30px;
}

.raffle-number {
    width: 50px; 
    cursor: pointer;
}

.raffle-number:hover{
    opacity : 0.5;
    color: blue;
}

.cart-empty {
    margin-top: 210px;
    height: 300px;
}